*
  box-sizing: border-box
  padding: 0
  margin: 0

body
  font-family: 'Roboto', sans-serif;

.container
  max-width: 960px
  margin: 0 auto
  padding: 0 10px

@import "var"

.button
  background-color: $main-color
  font-weight: 500
  color: #fff
  border: none
  border-radius: 5px
  cursor: pointer

.title
  font-size: 27px
  line-height: 27px
  font-weight: 700
  text-transform: uppercase
  color: #313131
  text-align: center
  &::after
    content: ''
    background: url(../icons/line.png) center no-repeat
    display: block
    width: 46px
    height: 6px
    margin: 12px auto 0 auto 
@import "blocks/menu"    
@import "blocks/header"
@import "blocks/promo"
@import "blocks/advantages"
@import "blocks/products"
@import "blocks/spec-offer"
@import "blocks/production"
@import "blocks/our-clients"
@import "blocks/reviews"
@import "blocks/map"
@import "blocks/footer"
@import "blocks/modal"


